<a href="https://colab.research.google.com/github/dohyeonkim2526/Python-DataMining/blob/master/yelp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import tensorflow as tf

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd

data='/content/gdrive/My Drive/yelp_labelled_dataset.csv'
data=pd.read_csv(data, header=None)

In [ ]:
label=[]
for i in range(data.shape[0]):
  dt=data.iloc[i]
  for j in range(data.shape[1]):
    dt_val=dt[j]
    if dt_val=='1' or dt_val=='0': #label 이 문자열인 경우
      label.append(dt_val)
    elif dt_val==1 or dt_val==0: #label 이 실수인 경우
      label.append(dt_val)

In [ ]:
print(len(label))

992

In [ ]:
data['label']=label

In [ ]:
data=data.fillna('NaN')

In [ ]:
import pandas as pd

data['label']=data['label'].astype(int)

In [ ]:
del data[5]

In [ ]:
sentence=[]
for i in range(data.shape[0]):
  dt=data.iloc[i]
  sen_list=[]
  for j in range(data.shape[1]-1):
    dt_val=dt[j]
    if dt_val != '1' and dt_val != '0':
        if dt_val is not 'NaN':
          sen_list.append(dt_val)
    else:
      break
  sentence.append(sen_list)

In [ ]:
#sentence[28]

['Took an hour to get our food only 4 tables in restaurant my food was Luke warm',
 ' Our sever was running around like he was totally overwhelmed.']

In [ ]:
full_sen=[]
for i in range(len(sentence)):
  sen=sentence[i]
  sen2=", ".join(sen)
  full_sen.append(sen2)

In [ ]:
data['sentence']=full_sen

In [ ]:
data=data.drop(data.columns[[0,1,2,3,4]], axis=1)

In [ ]:
data=data[['sentence', 'label']]

In [ ]:
data

                                              sentence  label
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
987  I think food should have flavor and texture an...      0
988                           Appetite instantly gone.      0
989  Overall I was not impressed and would not go b...      0
990  The whole experience was underwhelming,  and I...      0
991  Then,  as if I hadn't wasted enough of my life...      0

[992 rows x 2 columns]

In [ ]:
#sentence가 제대로 합쳐졌는지 확인
#test=data.iloc[28]
#print(test.sentence)

Took an hour to get our food only 4 tables in restaurant my food was Luke warm,  Our sever was running around like he was totally overwhelmed.